body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
  }
  .container-fluid {
      padding: 70px;
    }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 2rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    background-color: #fff;
    font-family: Segoe UI;
    color:#707070;
  }
  nav li{
    padding-top:10px;
  }
  .navbar-nav  li a:hover {
    color: #FA640E !important;
  }

  /* header section */
  .bg-1 {
    background: rgb(255,255,255); /* white */
    background-image: linear-gradient(148deg, rgba(255,255,255,1) 57%, rgba(248,184,147,1) 74%, rgba(244,136,74,1) 77%, rgba(242,109,33,1) 100%);
    color: #313131;
    margin-top:15px;
  }
  #header{
    padding-top:50px;
  }
  .btn-main{
  background-color:#FA640E;
  color:#fff;
  text-transform:uppercase;
  padding-top:10px;
  padding-bottom:10px;

  }
  video {
  max-width: 100%;
  height: auto;
  padding:1rem;

}

/* our services section */
.bg-2{
    background-color: #F8F4F0;
    color: #313131;
    margin-top:15px;
  }
  h5{
  text-transform:uppercase;
  text-align:center;
  }
  h4{
  text-align:justify-content;
  }
  p{
  text-align:justify-content;
  }

  .btn-main1{
  background-color:#FA640E;
  color:#fff;
  text-transform:uppercase;

  }

  /* case study */
  .bg-3{
      background-color: #FFF;
      background-image:linear-gradient(90deg, rgba(255,255,255,1) 47%, rgba(248,184,147,1) 63%, rgba(244,136,74,1) 74%, rgba(242,109,33,1) 100%);
      color: #313131;
      margin-top:15px;
    }
    .btn-main2{
    background-color:#FA640E;
    color:#fff;
    text-transform:uppercase;
    margin:5px;
    }
    h2{
    text-align:center;
    }

  /* happy customers */
  .company{
  margin:10px;
  }

  /* contact */
